.cusNavbar {
    color: #001219;
    border-bottom: 2px solid #ededed;
    font-family: "Zoho Puvi";
}

.cusNavbar .navItems {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchQueryInput {
    width: 100%;
    height: 2.5rem;
    background: #e6e4e4;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
    font-family: 'Zoho Puvi';

}

#searchQuerySubmit {
    width: 3.0rem;
    height: 2.5rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

#searchQuerySubmit:hover {
    cursor: pointer;
}

.cusNavbar .navItems .profile {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;

}

.cusNavbar .navItems .profile .userProfile {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.mobileNav {
    display: none;
}

.cusNavbar .serachBar {
    display: flex;
}

.cusNavbar .serachBar a {
    color: #000000;
    transition: all 0.3s ease-in-out;
    border: 2px solid white;
    padding: 2% 5%;
    text-decoration: none;
    border-radius: 10px;
}

.cusNavbar .serachBar .active {
    color: #5e35b1;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #ede7f6;
}

.cusNavbar .serachBar a:hover {
    color: #5e35b1;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #ede7f6;
}

.cusNavbar .companyDets {
    font-size: 24px;
    word-spacing: 7px;
    letter-spacing: 1.5px;
    font-weight: bolder;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .cusNavbar .companyDets {
        font-size: 25px;
    }

    .cusNavbar {
        font-size: 15px;
    }

    .cusNavbar .navItems {
        flex-direction: column;
        /* gap: 20px; */
    }

    .cusNavbar .navItems a {
        padding: 2%;
    }

    .customerDetailPageTable {
        max-width: 700px;
    }

    .profile {
        margin: 4% 0;
    }

}

@media only screen and (max-width: 500px) {
    .cusNavbar .companyDets {
        font-size: 25px;
    }

    .cusNavbar {
        font-size: 13px;
    }

    .cusNavbar .searchBar {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .customerDetailPageTable {
        max-width: 400px;
    }

}

.customSelect {
    padding: 0.5%;
    border-radius: 20px;
    width: 15%;
    text-align: center;
    margin-right: 1%;
    max-width: 150px;
    min-width: fit-content;
}

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
}